* {
    margin: 0;
    padding: 0;
}

.color-red {
    color: red;
}

body div.main-content h2.heading {
    font-style: italic;
    color: purple;
}

div{
    color: initial;
    margin-left: 20px;
}

.PAI > .filha {
    color: red;
}