ul li::before {
    content: "-";
    background: red;
    color: #fff;
    display: block;
}

p::first-letter {
    font-size: 80px;
    display: block;
    float: left;
    margin: 0 10px 10px 0;
}

p::first-line {
    background: blueviolet;
}

p::selection {
    background: black;
    color: #fff;
}


.form-field::placeholder {
    color: red;
}