html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

.pai {
    width: 100vw;
    height: 100vh;
    padding: 1rem;
    background: yellow;
}

.color-two{
    background: cyan;
}

.color-three{
    background: black;
}

.mae {
    width: 100vw;
    height: 100vh;
    padding: 1rem;
    background: red;
    overflow: hidden;
}

p {
    font-size: 1.6rem;
}